/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'EXTRACT_PARALOGS' {
        ext.args = [
            "--min-paralogs ${params.min_paralogs}",
            "--max-seqs ${params.max_orthogroup_seqs}",
            "--max-paralogs ${params.max_target_paralogs}",
        ].join(' ')
    }

    withName: 'MAFFT_BATCH' {
        ext.args = '--anysymbol'
    }

    withName: 'CODEML_BATCH' {
        publishDir = [
            path: { "${params.outdir}/codeml" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) { return null }
                return filename.endsWith('.nwk') ? "trees/${filename}" : filename
            }
        ]
        ext.args = [
            "--icode ${params.genetic_code}",
            "--codeml-method ${params.codeml_method}",
            "--codeml-timeout ${params.codeml_timeout}",
            params.skip_pairwise ? '--skip-pairwise' : '',
            params.skip_yn00 ? '--skip-yn00' : '',
        ].findAll{ it }.join(' ')
    }

}
